* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
  transition-delay: 2s;
  transition: 3s ease-in;
}

body {
  font-family: "josefin Sans";
  font-weight: 500;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #804343;
  overflow: hidden;
  word-wrap: break-word;
}

.navbar {
  background-color: transparent;
  padding: 10px;
  height: 70px;
  align-items: center;
  font-weight: 600;
  backdrop-filter: blur(100px);
}

.logo {
  float: left;
  margin-left: 60px;
  margin-top: 17px;
  font-weight: bolder;
  font-size: x-large;
  letter-spacing: 2px;
  background-image: linear-gradient(115deg, #8912ffe4, #5fe9c9, #5fe984);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-btn {
  float: right;
  background-color: transparent;
  font-weight: bolder;
  font-size: medium;
  border: 2px solid rgb(68, 68, 68);
  border-radius: 22px;
  padding: 11px;
  margin-right: 60px;
  margin-top: 3px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#login-btn {
  color: rgb(255, 255, 255);
}

.info {
  margin-top: 100px;
  margin-left: 40px;
  position: fixed;
  text-align: start;
}

.info h1,
h3 {
  padding: 15px;
  width: max-content;
}


.info-boxes {
  padding: 20px;
  display: flex;
  position: fixed;
}

.box-one,
.box-two {
  flex: 1;
  align-items: center;
  padding: 1rem;
  border: none;
  margin: 10px;
  height: 150px;
  width: 150px;
  justify-content: space-between;
  background-color: #2a2a2a;
  border-radius: 15px;
  position: fixed;
  display: flex;
}

.box-two {
  margin-left: 185px;
}

.more-button {
  font-size: xx-large;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: center;
  margin-left: 345px;
  transform: scale(90%);
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.more-button:hover {
  background-color: #2a2a2a;
  border-radius: 50%;
  transition: .89s ease;
  transform: scale(.8);
}

.quote-container {
  text-align: center;
  margin-top: 260px;
}

#quote {
  font-size: 24px;
  font-style: italic;
  color: #ffffff66;
}

.menubox {
  background-color: rgba(31, 31, 31, 0.49);
  float: right;
  border-bottom: 3px solid;
  border-bottom-color: rgb(79, 79, 79);
  border-radius: 10px;
  padding: 80px;
  margin-right: 150px;
  margin-top: 120px;
  backdrop-filter: blur(100px);
  letter-spacing: 1px;
}

.menubox a:hover {
  color: rebeccapurple;
  font-weight: bold;
  transition: 0.78s ease;
}

.animated-bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

.bubble {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  background: linear-gradient(45deg, #8725ff, #500191, #00ff95, #000000, #02a2ff);
  animation: bubbleAnimation 2s ease-in-out alternate;
  filter: blur(8px);
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }

  100% {
    transform: translateY(-200px) scale(2);
    opacity: 1;
  }
}

.navbar button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 50, 50);
  border: none;
  transition: background-color 1s ease;
  cursor: pointer;
}