* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: min(90%, 500px);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 4em 2em;
    border-radius: 0.5em;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.section-container {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.btn {
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: #3e3f43;
    color: #a9a7a7;
}

.btn-focus {
    background-color: #4fff28;
    color: #000000;
    font-weight: bold;
}

.time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#time {
    text-align: center;
    color: #000000;
    font-size: 5em;
    font-weight: 600;
    text-shadow: 0 0 10px rgb(45, 45, 45);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#btn-start,
#btn-pause {
    padding: 1em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #212121;
    color: white;
}

#btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: #1a1a1a;
    font-size: 2em;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.container-timer h1 {
    color: rgb(183, 88, 88);
}


.container-timer a i{
    background-color: rgb(26, 26, 26);
    border-radius: 35px;
    font-size: x-large;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    color: rgba(245, 245, 245, 0.452);
}

.container-timer a i:hover{
    color: white;
}